{{define "title"}}
    {{ .title }}
{{end}}

{{define "style"}}
    <link href="/static/css/index.css" rel="stylesheet">
{{end}}

{{define "content"}}
    <article>
        <main>
            <div class="banner">
                <div id="banner" class="fader">
                    <li class="slide">
                        <a href="/life/2.html" target="_blank">
                            <img src="/static/picture/3f0b6da48a6fd4e626a021ff7bd0d74f.jpg" alt="">
                        </a>
                    </li>

                    <li class="slide">
                        <a href="#" target="_blank">
                            <img src="/static/picture/banner01.jpg">
                        </a>
                    </li>
                    <div class="fader_controls">
                        <div class="page prev" data-target="prev">&lsaquo;</div>
                        <div class="page next" data-target="next">&rsaquo;</div>
                        <ul class="pager_list">
                        </ul>
                    </div>
                </div>
            </div>
            <!--banner end-->
            <div class="blank"></div>

            {{ range $v := .article}}
                <div class="blogsbox">
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                        <h3 class="blogtitle">
                            <a href="/articleInfo?id={{$v.Id}}" target="_blank">{{$v.Title}}</a>
                        </h3>
                        <span class="blogpic">
                        <a href="/articleInfo?id={{$v.Id}}" title="{{$v.Title}}">
                            <img src="/static/picture/75842f4d1e18d692a66c38eb172a40ab.jpg" alt="{{$v.Title}}">
                        </a>
                    </span>

                        <p class="blogtext">{{$v.Content | markdownToHtml}}</p>
                        <div class="bloginfo">
                            <ul>
                                <li class="author"></li>
                                <li class="lmname"><a href="/show/" target="_blank">图片展示</a></li>
                                <li class="timer">{{$v.CreateTime | formatDate}}</li>
                                <li class="view"><span>{{$v.Views}}</span>已阅读</li>
                                <li class="like">{{$v.LikeCount}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{ end }}

        </main>

        <aside class="sidebar">
            <div class="toppic">
                <li>
                    <a href="/life/3.html" title="爱设计" target="_blank">
                        <i><img src="/static/picture/917d732926d79cc2ae1012831ce51d1e.jpg" alt=""></i>
                        <h2>爱设计</h2>
                        <span>慢生活</span>
                    </a>
                </li>
            </div>
            <div class="zhuanti">
                <h2 class="hometitle">特别推荐</h2>
                <ul>
                    <li>
                        <i><img src="/static/picture/89b36652d1f5ba23172c7ed3dc522d8b.jpg"></i>
                        <p>Just One Last Dance
                            <span>
                                <a href="/study/2/17.html" title="Just One Last Dance" target="_blank">阅读</a>
                            </span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="tuijian">
                <h2 class="hometitle">推荐文章</h2>
                <ul class="tjpic">
                    <i><img src="/static/picture/89b36652d1f5ba23172c7ed3dc522d8b.jpg"></i>
                    <p><a href="/study/2/17.html" title="Just One Last Dance" target="_blank">Just One Last Dance</a>
                    </p>
                </ul>
                <ul class="sidenews">
                    <li>
                        <i><img src="/static/picture/49962501843114c70121ad142e60a056.jpg"></i>
                        <p>
                            <a href="/life/8.html" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a>
                        </p>
                        <span>[2018-07-15]</span>
                    </li>
                </ul>
            </div>
            <div class="tuijian">
                <h2 class="hometitle">点击排行</h2>

                <ul class="sidenews">
                    <li><i><img src="/static/picture/82ad18fca433c2a102319063a17cfc8f.jpg"></i>
                        <p><a href="/study/2/18.html" title="最后的午餐" target="_blank">最后的午餐</a></p>
                        <span>[2018-07-15]</span></li>
                </ul>
            </div>
            <div class="cloud">
                <h2 class="hometitle">标签云</h2>
                <ul>
                    <li><a href="" target="_blank">设计</a></li>
                    <li><a href="" target="_blank">设计</a></li>
                </ul>
            </div>
            <div class="links">
                <h2 class="hometitle">友情链接</h2>
                <ul>
                    <li><a href="" target="_blank">设计</a></li>
                    <li><a href="" target="_blank">设计</a></li>
                </ul>
            </div>
            <div class="guanzhu">
                <h2 class="hometitle">联系方式</h2>
                <ul>
                    <li class="qq"><a href="/" target="_blank"><span>QQ号</span>1047871481</a></li>
                    <li class="email"><a href="/" target="_blank"><span>邮箱帐号</span>qiuapeng921@163.com</a></li>
                    <li class="wxgzh"><a href="/" target="_blank"><span>微信号</span>qap1047871481</a></li>
                    <li class="wx"><img src="/static/picture/wx.jpg" alt="qap1047871481"></li>
                </ul>
            </div>
        </aside>
    </article>
{{end}}

{{define "script"}}{{end}}