{{define "title"}}
    {{.article.Title}}
{{end}}

{{define "style"}}
    <script src="/static/editormd/lib/marked.min.js"></script>
    <script src="/static/editormd/lib/prettify.min.js"></script>
    <script src="/static/editormd/lib/raphael.min.js"></script>
    <script src="/static/editormd/lib/underscore.min.js"></script>
    <script src="/static/editormd/lib/sequence-diagram.min.js"></script>
    <script src="/static/editormd/lib/flowchart.min.js"></script>
    <script src="/static/editormd/lib/jquery.flowchart.min.js"></script>
    <script src="/static/editormd/editormd.js"></script>
{{end}}

{{define "content"}}
    <article>
        <h1 class="t_nav">
            <span>您现在的位置是：
                <a href="/">首页</a>&nbsp;>&nbsp;
                <a href="/show/">图片展示</a>
            </span>
        </h1>
        <main style="width: 100%">
            <div id="editor-markdown">
                　　<textarea placeholder="markdown语言">{{.article.Content}}</textarea>
            </div>
        </main>
    </article>
{{end}}

{{define "script"}}
    <script type="text/javascript">
      editormd.markdownToHTML("editor-markdown", {
        htmlDecode: "style,script,iframe",
        emoji: true,
        taskList: true,
        tex: true,
        flowChart: true,
        sequenceDiagram: true,
      });
    </script>
{{end}}