{{define "title"}}
    列表
{{end}}

{{define "style"}}
    <link href="/static/css/index.css" rel="stylesheet">
{{end}}

{{define "content"}}
    <article>
        <main style="width: 100%">
            {{ range $v := .article}}
                <div class="blogsbox">
                    <div class="blogs" data-scroll-reveal="enter bottom over 1s">
                        <h3 class="blogtitle">
                            <a href="/articleInfo?id={{$v.Id}}" target="_blank">{{$v.Title}}</a>
                        </h3>
                        <span class="blogpic">
                        <a href="/articleInfo?id={{$v.Id}}" title="{{$v.Title}}">
                            <img src="/static/picture/75842f4d1e18d692a66c38eb172a40ab.jpg" alt="{{$v.Title}}">
                        </a>
                    </span>

                        <p class="blogtext">{{$v.Content | markdownToHtml}}</p>
                        <div class="bloginfo">
                            <ul>
                                <li class="author"></li>
                                <li class="lmname"><a href="/show/" target="_blank">图片展示</a></li>
                                <li class="timer">{{$v.CreateTime | formatDate}}</li>
                                <li class="view"><span>{{$v.Views}}</span>已阅读</li>
                                <li class="like">{{$v.LikeCount}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {{ end }}
        </main>
    </article>
{{end}}

{{define "script"}}{{end}}