{{define "title"}}
    markdown编辑器
{{end}}

{{define "style"}}
    <link href="/static/editormd/css/editormd.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet">
{{end}}

{{define "content"}}
    <form action="/saveArticle" method="post">
        <div id="editor" style="margin-top: 100px;">
            <label>
            <textarea name="content">
            </textarea>
            </label>
        </div>
        <button type="submit" class="btn btn-success" style="margin-left: 50%;margin-bottom:20px;width: 100px;">提交</button>
    </form>
{{end}}

{{define "script"}}
    <script src="/static/editormd/editormd.min.js"></script>
    <script type="text/javascript">
      $(function () {
        let editor = editormd("editor", {
          width: "80%",
          height: 680,
          syncScrolling: "single",
          path: "/static/editormd/lib/"
        });
      });
    </script>
{{end}}
