{{define "title"}}
    markdown编辑器
{{end}}

{{define "style"}}
    <link href="/static/editormd/css/editormd.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet">
{{end}}

{{define "content"}}
    <div id="editor" style="margin-top: 100px;">
        <label>
            <textarea style="display:none;">
            </textarea>
        </label>
    </div>
{{end}}

{{define "script"}}
    <script src="/static/editormd/editormd.min.js"></script>
    <script type="text/javascript">
      $(function () {
        let editor = editormd("editor", {
          width: "100%",
          height: 680,
          syncScrolling: "single",
          path: "/static/editormd/lib/"
        });
      });
    </script>
{{end}}
