<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>时间轴</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/index.css" rel="stylesheet">
<script src="static/js/jquery.min.js" ></script>
<script src="static/js/nav.js"></script>
<script src="static/js/scrollreveal.js"></script>
<!--[if lt IE 9]>
<script src="static/js/modernizr.js"></script>
<![endif]-->
 <script src="static/js/page.js"></script> 
</head>
<body>
<header class="header-navigation">
  <nav>
    <div class="logo"><a href="/">杨青个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
<ul id="starlist">
     <li><a href="/" title="首页">网站首页</a></li> 
    <li class="menu"><a href="/study/"  target="_blank">学无止境</a>
  <ul class="sub">
   
      <li><a href="/study/1/" target="_blank">目录1</a></li><li><a href="/study/2/" target="_blank">目录2</a></li><li><a href="/study/3/" target="_blank">目录3</a></li>    </ul><span></span></li>
    <li><a href="/life/" target="_blank">慢生活</a></li>  <li><a href="/show/" target="_blank">图片展示</a></li>  <li><a href="/about/" target="_blank">关于我</a></li>  <li><a href="/time/" target="_blank">时间轴</a></li>  <li><a href="/e/tool/gbook/?bid=1" target="_blank">留言</a></li>    </ul>
    <div class="searchbox">
    <div id="search_bar" class="search_bar">
      <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
        <input type="hidden" name="show" value="title">
        <input type="hidden" name="tempid" value="1">
        <input type="hidden" name="tbname" value="news">
        <input type="hidden" name="Submit" value="搜索">
        <p class="search_ico"> <span></span></p>
      </form>
     </div> 
    </div>
  </nav>
</header>
<div class="pagebg">
<img src="static/picture/212b0df457fd9db23b6f0f846905ef6a.jpg" alt="时间轴" >
</div>
<div class="container">
  <h1 class="t_nav"><span>时光飞逝，机会就在我们眼前，何时找到了灵感，就要把握机遇，我们需要智慧和勇气去把握机会。</span><a href="/" class="n1">网站首页</a><a href="/time/" class="n2">时间轴</a></h1>
  <div class="timebox">
   <ul id="list" style="display:none;">
   <li><span>2018-07-16</span><a href="/show/19.html" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则</a></a></li>
   <li><span>2018-07-15</span><a href="/study/2/18.html" target="_blank">最后的午餐</a></a></li>
   <li><span>2018-07-15</span><a href="/study/2/17.html" target="_blank">Just One Last Dance</a></a></li>
   <li><span>2018-07-15</span><a href="/study/2/16.html" target="_blank">抄袭门过后——丢掉心结，重拾自己</a></a></li>
   <li><span>2018-07-15</span><a href="/study/2/15.html" target="_blank">再看4年前某婚恋网站我的十条征婚条件</a></a></li>
   <li><span>2018-07-15</span><a href="/study/2/14.html" target="_blank">做程序员的这些年，慢慢才体会到健康才是奢侈品</a></a></li>
   <li><span>2018-07-15</span><a href="/life/13.html" target="_blank">个人博客从简不繁</a></a></li>
   <li><span>2018-07-15</span><a href="/life/12.html" target="_blank">某一人似曾相识、某一刻似曾经历</a></a></li>
   <li><span>2018-07-15</span><a href="/life/11.html" target="_blank">两只蜗牛艰难又浪漫的一吻</a></a></li>
   <li><span>2018-07-15</span><a href="/life/10.html" target="_blank">女程序员职业生涯该如何发展？</a></a></li>
   <li><span>2018-07-15</span><a href="/life/9.html" target="_blank">即便是坑，我也想要拉你入伙！</a></a></li>
   <li><span>2018-07-15</span><a href="/life/8.html" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></a></li>
   <li><span>2018-07-15</span><a href="/study/1/7.html" target="_blank">使用CSS3制作文字、图片倒影</a></a></li>
   <li><span>2018-07-15</span><a href="/study/1/6.html" target="_blank">6条网页设计配色原则,让你秒变配色高手</a></a></li>
   <li><span>2018-07-15</span><a href="/study/1/5.html" target="_blank">帝国cms常用标签调用方法总结（不得不收藏哦）</a></a></li>
   <li><span>2018-07-15</span><a href="/life/4.html" target="_blank">分享我的个人博客访问量如何做到IP从10到2000的</a></a></li>
   <li><span>2018-07-15</span><a href="/life/3.html" target="_blank">安静地做一个爱设计的女子</a></a></li>
   <li><span>2018-07-15</span><a href="/life/2.html" target="_blank">【匆匆那些年】总结个人博客经历的这四年…</a></a></li>
   <li><span>2018-07-15</span><a href="/study/1/1.html" target="_blank">个人博客，属于我的小世界！</a></a></li>
  </ul>
  <ul id="list2">
  </ul>
  <script src="static/js/page2.js"></script> 
  </div>
</div>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
