<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ template "title" . }}</title>
    <meta name="keywords" content="个人博客,个人博客"/>
    <meta name="description" content="个人博客网站"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="/static/js/scrollreveal.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/modernizr.js"></script>
    <![endif]-->
    {{ template "style" . }}
<body>

{{ template "header" . }}
{{ template "content" . }}
<footer>
    <p>Design by <a href="http://www.yangqq.com" target="_blank">个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
{{ template "script" . }}
</html>

