<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>{{ template "title" . }}</title>
    <meta name="keywords" content="个人博客,个人博客"/>
    <meta name="description" content="个人博客网站"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://lib.baomitu.com/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="/static/js/scrollreveal.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/js/modernizr.js"></script>
    <![endif]-->
    {{ template "style" . }}
<body>
<header class="header-navigation">
    <nav>
        <div class="logo"><a href="/">阳光下的温暖-Blog</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/" title="首页">首页</a></li>
            <li class="menu">
                <a href="javascript:;">分类</a>
                <ul class="sub">
                    <li><a href="/articles">前段</a></li>
                    <li><a href="/articles">后端</a></li>
                    <li><a href="/articles">服务器</a></li>
                </ul>
                <span></span></li>
            <li><a href="/markdown/">markdown</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title">
                    <input type="hidden" name="tempid" value="1">
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索">
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
{{ template "content" . }}
<footer>
    <p>Design by <a href="http://www.phpswoole.cn" target="_blank">个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
{{ template "script" . }}
</html>

