{{define "header"}}
    <header class="header-navigation">
        <nav>
            <div class="logo"><a href="/">个人博客</a></div>
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="starlist">
                <li><a href="/" title="首页">首页</a></li>
                <li class="menu"><a href="/study/" target="_blank">分类</a>
                    <ul class="sub">
                        <li><a href="/study">前段</a></li>
                        <li><a href="/study">后端</a></li>
                        <li><a href="/study">服务器</a></li>
                    </ul>
                    <span></span></li>
                <li><a href="/markdown/">markdown</a></li>
            </ul>
            <div class="searchbox">
                <div id="search_bar" class="search_bar">
                    <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                        <input type="hidden" name="show" value="title">
                        <input type="hidden" name="tempid" value="1">
                        <input type="hidden" name="tbname" value="news">
                        <input type="hidden" name="Submit" value="搜索">
                        <p class="search_ico"><span></span></p>
                    </form>
                </div>
            </div>
        </nav>
    </header>
{{end}}