<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GinFrame</title>
    <style>
        html, body {
            background-color: #fff;
            color: #636b6f;
            font-family: 'Raleway', sans-serif;
            font-weight: 100;
            height: 100vh;
            margin: 0;
        }

        .full-height {
            height: 100vh;
        }

        .flex-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .position-ref {
            position: relative;
        }

        .content {
            text-align: center;
        }

        .title {
            font-size: 84px;
        }

        .links > a {
            color: #636b6f;
            padding: 0 25px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: .1rem;
            text-decoration: none;
            text-transform: uppercase;
        }

        .m-b-md {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title m-b-md">
            欢迎使用 {{.name}}
        </div>
        <div id="socket" style="display: none">
            <h3>websocket已启动</h3>
            <p id="socketWelcome"></p>
            <h3>当前时间：</h3>
            <p id="socketTime"></p>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    // if ("WebSocket" in window) {
    //     console.log("您的浏览器支持 WebSocket!");
    //     let ws = new WebSocket("ws://localhost:8080/ws");
    //     ws.onopen = function () {
    //         ws.send("PING");
    //     };
    //     ws.onmessage = function (event) {
    //         let received_msg = event.data;
    //         if (received_msg === "welcome") {
    //             document.getElementById("socket").style.display = "block";
    //             document.getElementById("socketWelcome").innerText = event.data + " to you";
    //         }
    //         document.getElementById("socketTime").innerText = event.data;
    //         console.log("数据已接收...", received_msg);
    //     };
    //     ws.onclose = function () {
    //         console.log("连接已关闭...");
    //     };
    // } else {
    //     console.log("您的浏览器不支持 WebSocket!");
    // }
</script>
</html>
